body {
    font-family: 'Playfair Display', serif;
}

header {
    margin: 0;
}

.logo {

    height: 50px;
    width: auto;
    margin: 0 32px;
}

.block-divider-black {
    width: 400px;
    height: 2px;
    background-color: #080000;
}



/* ----------------------------------------- Colors */



/* ----------------------------------------- special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

/* ----------------------------------------- Hero */

.hero-container {
    background: url("../images/hero.webp") no-repeat top center fixed;
    height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-title {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    max-width: 900px;
    ;
}

.lead {
    color: #141411;
    padding: 5px;
    background-color: white;
}

/* ----------------------------------------- Cake of the Month */
.cake-month-container {}

.cake-month-image {
    width: 100%;
}

.cake-month-text {
    align-items: center;
}

/* ----------------------------------------- Recipes */
.cake-recipes-container {}


/* ----------------------------------------- Callout */

.cta-container {
    background: url("../images/CTA.webp") no-repeat center center;
    height: 400px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
}

.cta-title {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    max-width: 450px;
}